.welcome {
    color: red;
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
    margin: auto;
    margin: 30px;
}
.wrapper {
    width: 400px;
    margin: 0 auto;
}

.categories{
    list-style-type: none;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    list-style-position: inside;
    font-weight: bold;
    margin-left: 50px;
}

li {
    padding: 10px;
}

.trivia_question {
    text-align: center;
    width: 400px;
    font-size: 20px;
    font-weight: bold;
    margin: auto;
    margin-top: 30px;
}

.answerBox {
    text-align: center;
}

input {
    width: 300px;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
}

button {
    margin-top: 10px;
}
